@model ZooDAL.Entities.Animal

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/Images/@Model.ImagePath" class="card-img-top" alt="Animal Image">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">Age: @Model.Age</p>
                    <p class="card-text">@Model.Description</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Comments</h4>
                    <hr />
                    <form method="post" asp-controller="Catalog" asp-action="AddComment" asp-route-id="@Model.Id">
                        <div class="mb-4">
                            <input type="text" class="form-control" name="commentContent" placeholder="Enter your comment" maxlength="200" required>
                            <span class="text-danger" data-valmsg-for="commentContent" data-valmsg-replace="true"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                    </form>

                    <ul class="list-group mt-4">
                        @foreach (var comment in Model.Comments)
                        {
                            <li class="list-group-item">@comment.Content</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a asp-action="ShowCatalog" class="btn btn-secondary">Explore Our Catalog</a>
        <a asp-action="Index" class="btn btn-secondary">Discover Top Trending Animals</a>
    </div>
</div>
